data/
calibration/accum_2745s.pcd/
.venv/
calibration/calib_imgs_front/
calibration/calib_imgs_front/
experiments/
paper_out/
paper_figures/
paper_figures_combined/
paper_figures_dav2/
paper_figures_midas/
paper_figures_monodepth2/
models/
models/
*.pth
*.zip
.DS_Store
